@use '../../styles/variables' as *;
@use '../../styles/mixin' as *;

.singleProduct {
  margin-top: 7.9rem;

  @media (max-width: 768px) {
    margin-top: 6.9rem;
  }

  &__links {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
    font-size: $sm-size-2;

    @media (max-width: 425px) {
      display: none;
    }

    a {
      @include transition();
      margin-right: 5px;
      &:hover {
        color: $venice-blue-color;
      }
    }

    p {
      font-weight: lighter;
    }
  }

  &__btns {
    display: none;
    margin-bottom: 1rem;

    a {
      width: 100%;
    }

    @media (max-width: 425px) {
      @include grid-columns($columns: repeat(2, 1fr), $gap: 0.75rem);
    }
  }

  &__container {
    @include grid-columns($columns: 60% 37%, $gap: 3.5rem);

    @media (max-width: 768px) {
      @include grid-columns($columns: 1fr, $gap: 2rem);
    }
  }
}
